.response-section{
    font-family: "Poppins", sans-serif;
    background: #D38312;  
    background: -webkit-linear-gradient(to right, #A83279, #D38312); 
    background: linear-gradient(to right, #A83279, #D38312); 
}

.response-heading{
    color: rgb(20,60,70);
    font-size:2.5rem ;
    text-align: center;
    margin-top: 5%;
}
.search-question{
    display: flex;
    gap: 10px;
    margin-left: 50px;
    align-items: center;
}
.search-label{
    color: rgb(20,60,70);
    font-weight: bold;
    font-size: 1.5rem;
}
.id-input{
    height: 25px;
    padding-left:10px;
    width: 400px;
    border-radius: 5px;
    border: none;
}
.arrow-icon{
    background-color: rgb(20,60,70);
    padding: 10px;
    color: white;
    cursor: pointer;
}
.user-question-set{
    display: flex;
    margin-left: 50px;
    gap:20px
}
.user-question{
    background-color: rgb(255, 255, 255,0.3);
    backdrop-filter: blur(30px) brightness(1.1);
    border: 1px white solid;
    border-radius: 20px;
    height: 200px;
    width: 300px;
    padding: 10px;

}