@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Elsie+Swash+Caps:wght@400;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sevillana&display=swap');
body{
    font-family: "Poppins", sans-serif;
    background: #D38312;  
    background: -webkit-linear-gradient(to right, #A83279, #D38312); 
    background: linear-gradient(to right, #A83279, #D38312); 
    margin: 0;
    padding: 0;

}
.home-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:100vh ;

}
.home-section .heading{
    font-size: 3.5rem;
    color: rgb(255, 255, 255);
}
.home-section .heading .key-word{
    color: rgb(20,60,70);
}

.features{
    display: flex;
    gap: 20px;
    justify-content: center;
    cursor: pointer;
}
.features .feature{
    width: 270px;
    height: 350px;
    background-color: rgb(255, 255, 255,0.3);
    backdrop-filter: blur(30px) brightness(1.1);
    padding: 10px 20px;
    border-radius: 20px;
    transition-duration: 0.5s;
}
.features .feature:hover{
    background-color: rgb(20,60,70);
    color: white;
}
.features .feature:hover .feature-icon {
    color: white;
    border:2px white solid ;
}
.features .feature:hover .feature-heading{
    color: white;
}
.features .feature .feature-icon{
    font-size: 1.5rem;
    margin: 10px 120px;
    border: 2px rgb(20,60,70) solid;
    color: rgb(20,60,70);
    padding: 7px;
    border-radius: 50%;
    transition-duration: 0.5s;
}
.features .feature .feature-heading{
    text-align: center;
    color: rgb(20,60,70);
    font-size: 1.8rem;
    transition-duration: 0.5s;
   
}

@media (max-width: 600px){
.home-section{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height:100vh ;

}
    .features{
    display: flex;
    gap: 20px;
    justify-content: center;
    cursor: pointer;
    flex-direction: column;
}
}