.login-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-container{
    background-color: rgb(0, 0, 0,0.3);
    backdrop-filter: blur(30px) brightness(1.1);
    border: 1px white solid;
    border-radius: 20px;
    padding: 0px 20px;
    height: fit-content;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.heading-input{
    text-align: center;
    font-size: 3.0rem;
}
.input-label{
    font-size: 20px;
    color: white;
}
.input-tag{
    width: 95%;
    outline: none;
    border: 1px white solid;
    border-radius:5px;
    background-color: transparent;
    padding-left: 10px;
    height: 25px;
    color: whitex;
}
.login-button{
    padding: 7px 10px ;
    margin-left: 0%;
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(20px) brightness(1.1);
    border: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
}
.link{
    margin-left: 20%;
}
.span-link{
    color:white;
    cursor: pointer;
}