body{
    margin: 0;
    padding: 0;
}
.logo{
    height: 70px;
    width: 150px;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 0px 100px;
    margin-top: 10px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}
.nav-features{
    display: flex;
    gap: 30px;
    color: white;
    list-style: none;
    font-size: 18px;
    cursor: pointer;
}
.profile{
    border: 2px white solid;
    padding: 10px;
    border-radius: 50%;
    margin-left: 30px;
}
.nav-features li:nth-child(1){
    position: relative;
}
.nav-features li:nth-child(1)::after{
    content: "";
    position: absolute;
    height:5px;
    width: 0px;
    background-color: rgb(240, 240, 240);
    top: 25px;
    left: -10px;
}
.nav-features li:nth-child(1):hover::after{
    height:5px;
    width: 80px;
    transition-duration: 0.5s;
}
.nav-features li:nth-child(2){
    position: relative;
}
.nav-features li:nth-child(2)::after{
    content: "";
    position: absolute;
    height:5px;
    width: 0px;
    background-color: rgb(240, 240, 240);
    top: 25px;
    left: -10px;
}
.nav-features li:nth-child(2):hover::after{
    height:5px;
    width: 150px;
    transition-duration: 0.5s;
}
.nav-features li:nth-child(3){
    position: relative;
}
.nav-features li:nth-child(3)::after{
    content: "";
    position: absolute;
    height:5px;
    width: 0px;
    background-color: rgb(240, 240, 240);
    top: 25px;
    left: -10px;
}
.nav-features li:nth-child(3):hover::after{
    height:5px;
    width: 70px;
    transition-duration: 0.5s;
}
.menu-icon{
    display: none;
}
.mobile-nav-features{
    display: none;
}

@media (max-width: 600px) {
    .nav-features{
        display: none;
    }
    .menu-icon{
        display: block;
        position: absolute;
        top: 23px;
        right: 32px;
        font-size: 1.5rem;
    }
    .mobile-nav-features {
        position: fixed;
        z-index: 2;
        top: 100px;
        right: 0;
        left: 0;
        display: block;
        background-color: rgb(255, 255, 255,0.3);
        backdrop-filter: blur(30px) brightness(1.1);
        text-align: center;
       
    }
.mobile-nav-features p:nth-child(1){
    border-top: 1px white solid ;
}
.mobile-nav-features p{
   border-bottom: 1px white solid;
   padding: 15px 0px;
    
}
    
}